*{
    margin: 0;
    padding: 0;
}

header{
    
    background-color: black;
}

h1{
    font-size: 75px;
    background-color: black;
    color: gold;
    font-family: 'Koulen', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

}

nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul{
    text-align: center;
    font-size: 30px;
    
}

li{
    display: inline;
    margin: 0 20px;
}

li a{
    color: gold;
    text-decoration: none;
    font-family: 'Koulen', cursive;
}
 
h2{
    margin: 10px;
    text-align: center;
    font-family: 'Koulen', cursive;
}

p{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 15px;
}



body{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.introduccion{
    margin: 10px;
    text-align: center;
}


.contenedor{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.contenedor article{
    border: solid #e0e0e0;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    transition: background 1s;
}

.contenedor article:hover{
    background-color: #e0e0e0;
}

.contenedorven{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 75px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 15px;
    
}

.contenedorven article{
    border: solid #e0e0e0;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    transition: background 1s;
}

.contenedorven article:hover{
    background: #e0e0e0;
}

.contenedorven h5{
    color: grey;
}

.vendidosp{
    text-align: center;
  
}

.nosotros{
    background-color: #F0EAE9;
}

.nosotrosv{text-align: center;
    padding: 10px;
    margin: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
}

form{
    width: 400px;
    background-color: #24303c;
    border-radius:  4px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    color: white;
    margin-bottom: 10px;

    
}

.controls{
    padding: 10px;
    display: flex;
    flex-direction: column;
   font-size: 18px;
}

footer{
    color: gold;
   background-color: black;
    font-size: 25px;
    margin-top: auto;

}

.redes-sociales{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: gold;
    margin: 10px;
    padding: 1rem;
}

/*MEDIAS*/
@media screen and (max-width: 480px) {
    img[Attributes Style] {
        width: 250px;
    

}

@media screen and (max-width: 480px) {
    .redes-sociales {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        color: gold;
        margin: 10px;
        padding: 1rem;
    
}

@media screen and (max-width: 480px) {
    ul {
        display: grid;
    }
    
}

@media screen and (max-width: 480px) {
    .contenedor {
        text-align: center;
        display: grid;
        grid-template-columns: auto;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
        }
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 480px){
    .contenedorven {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: space-between;
        /* padding: 10px; */
        margin: 50px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .nosotrosv {
        text-align: center;
        padding: 10px;
        margin: 20px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        justify-items: center;
    }

 @media screen and (max-width: 480px) {
    
    .nosotrosv img{
        width: 350px;
    }
    
}
    
}

@media screen and (max-width: 485px) {
    form {
        width: 250px;
        background-color: #24303c;
        border-radius: 4px;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        color: white;
        margin-bottom: 10px;
    }
    
}

/*MEDIAS A PARTIR DE 415*/

@media screen and (max-width: 425px) {
    .contenedor img{
        width: 250px;
    }
    
}

@media screen and (max-width: 425px) {
    .contenedorven {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 50;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 15px;
}
}

@media screen and (max-width: 425px) {
    .contenedorven img{
        width: 250px;
    }
    
}

@media screen and (max-width: 425px) {
    .nosotrosv img{
        width: 250px;
    }
}

@media screen and (max-width: 425px) {
    form {
        width: 250px;
        background-color: #24303c;
        border-radius: 4px;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        color: white;
        margin-bottom: 10px;
    }
    
}